# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.old
*.pdf
*.shanghai
*.o
*.so
*.obj
*.feature
*.zip
*.bmp
*.mtl
*.jpg
*.mp4
*/*/CMakeFiles/*
.kateproject
*/*/*.kateproject
*/*/*.cmake
.ninja_deps
build
__pycache__/
WorldBuild/x64/*
WorldBuild/.vs/*
WorldBuild/*jpgx64/*
DlibLandmark/x64/*
DlibLandmark/build/*
replaceOpenMvgFeature/build/*
replaceOpenMvgFeature/build-vs2019/*
*.pyc
PersistentIndependentParticles/reference_model/*
PersistentIndependentParticles/*.gif
DenseDepthPriorsforNeRFfromSparseInputViews/__pycache__*
denseCloud/*.pb.cc
denseCloud/*.pb.h
build-2019-shared/*
*.jpg.bin
*.exe
*.task
*.dat
viewer/*
viewerout/*
out/*
.vs/*
Debug/*
*.pcd
*.ply
*.txt
!CMakeLists.txt
*.json
*.off
*.bmp
*.png
*.xyz
*.pts
*.def
*.exp
*.exports
*.textgrid
*.yml
*.xml
*.
*.VC.db
*.opendb
*.log
*.tlog
*.lastbuildstate
*.idb
*.pdb
*.ilk
*.ipdb
*.iobj
*.rar
*.suo


# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
